/* GLOBAL */
:root {
    --primary-color: rgb(0, 132, 255);
    --primary-dark-color: rgb(0, 68, 131);
    --accent-color: rgb(218, 95, 255);
    --light-color: white;
    --dark-color: rgb(92, 92, 92);
    --gradient: linear-gradient(45deg, var(--accent-color), var(--primary-color));
}


* {
    font-family: Barlow;
    color: var(--dark-color);
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: fit-content;
    margin: auto;
}

h3 {
    font-size: 40px;
    margin-block-end: 50px;
    
}

h4 {
    font-size: 30px;
    margin-bottom: 2px;
    margin-block-start: 0px;
}

h5 {
    font-size: 25px;
}

p {
    font-size: 24px;
    font-weight: 200;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

a p {
    color: var(--light-color);
    font-size: 30px;
    font-weight: 600;
}
/* INTRO */

#intro-view {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: rgb(212, 239, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    /* visibility: hidden; TODO: delete this */
}

#intro-view h1, a {
    text-align: center;
    color: var(--light-color);
}

#intro-view h1 {
    width: 35vw;
}

#intro-view a {
    text-decoration: none;
    font-size: 45px;
    border-style: solid;
    border-color: var(--light-color);
    border-radius: 24px;
    -webkit-transition: all 0.3s;
    width: fit-content;
    height: fit-content;
}

#intro-view p {
    margin-block-start: 0px;
    margin-block-end: 0px;
    width: 100%;
    height: 100%;
    margin: 10px 30px 10px 0px;
    text-align: center;
}

#intro-view a:hover {
    background-color: white;
    color: var(--light-color);
    transform: rotate(5deg);
    box-shadow: rgba(128, 128, 128, 0.425) 0px 3px 20px 0px;
}

#intro-view a:hover p {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* MAIN */
main {
    position: absolute;
    top: 100vh; /*TODO: make this 100vh*/
    left: 0px;
    right: 0px;
    width: 100%;
}

#pfp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    box-shadow: gray 0px 3px 20px;
}

#summary {
    width: 70vw;
    color: var(--dark-color);
    text-align: center;
    margin: 10px auto;
}

section {
    margin-bottom: 50px;
    padding: 10px 100px;
}

.even-section {
    background-color: rgb(255, 250, 232);
}

.experiences {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.experience {
    display: flex;
    flex: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

.experience-title {
    width: 50%;
}

.experience-details {
    width: 110%;
    justify-self: flex-start;
}

.experience-details h5 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}


/*
border-style: solid;
border-color: red;
border-width: 2px; */